#################################################################################
# Copyright (c) 2022,2023 T-Systems International GmbH
# Copyright (c) 2022,2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

# Default values for data-exchange.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

    # -- Number of Replicas for pods
replicaCount: 1

image:
    # -- Image to use for deploying an application
  repository: "tractusx/data-exchange-test-service"
  # -- Set the Image Pull Policy
  pullPolicy: Always
    # -- Image tage is defined in chart appVersion.
  tag: ""


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
    # -- Controls whether a process can gain more privileges
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  runAsUser: 1000

service:
    # -- Type of service
  type: ClusterIP
    # -- Port details for sevice
  port: 80
    # -- Container Port details for sevice
  targetPort: 8080

ingress:
    # -- If you want to enable or disable the ingress
  enabled: false
    # -- a reference to an Ingress Class resource that contains additional configuration including the name of the controller that should implement the class.
  className: ""
  annotations: {}
  hosts:
    # -- Host of the application on which application runs
    - host: ""
      paths:
        - path: /
    # -- ImplementationSpecific path type matching is up to the IngressClass. Implementations can treat this as a separate pathType or treat it identically to Prefix or Exact path types.
          pathType: ImplementationSpecific
  tls:
    enabled: false
    secretName: ""
    hosts: ""

dataex:
  secret:
    # -- EDC connector Hostname
    edchostname: ""
    # -- Header for EDC
    edcapikeyheader: ""
    # -- Key for EDC API
    edcapikey: ""
    # -- URL for E2E data exchange test service
    e2edetsurl: ""

resources:
  limits:
    cpu: 600m
    memory: 400Mi
  requests:
    cpu: 200m
    memory: 400Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
